<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        ul li {
            text-align: center;
        }

        /*.nav-item > a:hover {
            color: #808080;
        }

        .navbar-nav > .active {
            background-color: #808080;
        }
        .navbar-nav > .active>a {
            color: white;
        }*/
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="container-fluid">
                    <div class="col-9 offset-3">
                        <img src="~/Content/logo.png" width="70" height="50" />
                        <div class="card">
                            <ul class="navbar-nav">
                                <li class="list-group-item nav-item">
                                    @Html.ActionLink("List", "Index", "Blog")
                                </li>
                                <li class="list-group-item nav-item">
                                    @Html.ActionLink("New", "InsertBlog", "Blog")
                                </li>
                                <li class="list-group-item nav-item">
                                    @Html.ActionLink("Search", "SearchBlog", "Blog")
                                </li>
                                <li class="list-group-item nav-item">
                                    <a href="" class="navbar-link">Edit</a>
                                    @*@Html.ActionLink("Edit", "EditBlog", "Blog")*@
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-9">
                <h1>Blogs Management</h1>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
