@model BlogsManagement.Models.Blog
@{
    ViewBag.Title = "EditBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Blogs</h2>
<div class="col-6">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label>Tiêu đề</label>
            @Html.TextBoxFor(model => model.Title, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="form-group">
            <label>Mô tả ngắn</label>
            @Html.TextBoxFor(model => model.Des, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Des)
        </div>

        <label>Chi tiết</label>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @style = "height:150px" })
            @Html.ValidationMessageFor(model => model.Detail)
        </div>

        <label>Hình ảnh</label>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Thumb, null, new { @type = "file" })
            @Html.ValidationMessageFor(model => model.Thumb)
        </div>

        <label>Loại</label>
        <div class="form-group">
            <select name="Category">
                @foreach (var item in ViewBag.showCategories)
                {
                    if (item.Id == Model.Category)
                    {
                        <option name="Category" value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option name="Category" value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Vị trí</label>
            @{ if (ViewBag.showBlogPositions == null)
                {
                    foreach (var pos in ViewBag.showPositions)
                    {
                        <div>
                            <input type="checkbox" name="Position" value="@pos.Name" />
                            <label>@pos.Name</label>
                        </div>
                    }
                }
            }
            @foreach (var pos in ViewBag.showPositions)
            {
                int i = 0;
                foreach (var blogPos in ViewBag.showBlogPositions)
                {

                    if (pos.Name == blogPos)
                    {
                        i = 1;
                        <div>
                            <input type="checkbox" name="Position" value="@pos.Name" checked />
                            <label>@pos.Name</label>
                        </div>
                    }
                }
                if (i == 0)
                {
                    <div>
                        <input type="checkbox" name="Position" value="@pos.Name" />
                        <label>@pos.Name</label>
                    </div>
                }

            }
        </div>
        <label>Public</label>
        if (Model.IsPublished == true)
        {
            <div>
                <input type="radio" id="Yes" name="IsPublished" value="true" checked />
                <label>Yes</label>

            </div>
            <div>
                <input type="radio" id="No" name="IsPublished" value="false" />
                <label>No</label>
            </div>
        }
        else
        {
            <div>
                <input type="radio" id="Yes" name="IsPublished" value="true" />
                <label>Yes</label>

            </div>
            <div>
                <input type="radio" id="No" name="IsPublished" value="false" checked />
                <label>No</label>
            </div>
        }
        <label>Date Public</label>
        <div class="form-group">
            @*<input type="date" name="DatePublic" value="@Model.DatePublic.ToString("yyyy-MM-dd")" />*@
            @Html.TextBoxFor(model => model.DatePublic, null, new { @type = "date", @Value = Model.DatePublic.ToString("yyyy-MM-dd") })
            @Html.ValidationMessageFor(model => model.DatePublic)
        </div>

        <div class="form-group col-6 offset-6">
            <button type="submit" class="btn btn-success">Submit</button>
            @Html.ActionLink("Clear", "EditBlog", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>

    }
</div>

