@model BlogsManagement.Models.Blog
@{
    ViewBag.Title = "InsertBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Blogs</h2>
<div class="col-6">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label>Tiêu đề</label>
            @Html.TextBoxFor(model => model.Title, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="form-group">
            <label>Mô tả ngắn</label>
            @Html.TextBoxFor(model => model.Des, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Des)
        </div>

        <label>Chi tiết</label>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @style = "height:150px" })
            @Html.ValidationMessageFor(model => model.Detail)
        </div>

        <label>Hình ảnh</label>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Thumb, null, new { @type = "file" })
            @Html.ValidationMessageFor(model => model.Thumb)
        </div>

        <label>Loại</label>
        <div class="form-group">
            <select name="Category">
                @foreach (var item in ViewBag.showCategories)
                {
                    <option name="Category" value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Vị trí</label>
            @foreach (var item in ViewBag.showPositions)
            {
                if (item.Id == 1)
                {
                    <div class="form-group">
                        <input type="checkbox" name="Position" value="@item.Id" checked/>
                        <label>@item.Name</label>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="checkbox" name="Position" value="@item.Id" />
                        <label>@item.Name</label>
                    </div>
                }
            }
        </div>
        <label>Public</label>
        <div class="form-group">
            <input type="radio" id="Yes" name="IsPublished" value="true" checked/>
            <label>Yes</label>

        </div>
        <div class="form-group">
            <input type="radio" id="No" name="IsPublished" value="false"/>
            <label>No</label>
        </div>

        <label>Date Public</label>
        <div class="form-group">
            @Html.TextBoxFor(model => model.DatePublic, null, new { @type = "date", @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
            @Html.ValidationMessageFor(model => model.DatePublic)
        </div>


        <div class="form-group col-6 offset-6">
            <button type="submit" class="btn btn-success">Submit</button>
            @Html.ActionLink("Clear", "InsertBlog", null, new { @class = "btn btn-primary" })
        </div>

    }
</div>

